<div class="d-flex justify-content-center mb-4">
  <app-nav-bar></app-nav-bar>
</div>

<!-- Bloque de ceremonia con punto -->
<div class="container">
  <div class="dot"></div> <!-- Punto para la ceremonia -->

  <div class="left-block">
    <div class="info time">13:15</div>
    <div class="info title">Ceremonia</div>
    <div class="info">Basílica Pontificia de San Miguel</div>
    <div class="icon-iglesia">
      <img src="assets/Iglesia.png" alt="Basílica">
    </div>
  </div>

  <div class="right-block block-after-ceremony">
    <div class="info title">Después de la ceremonia</div>
    <div class="info"><strong>Autobuses</strong></div>
    <div class="box">
      Habrá autobuses disponibles para trasladar a los invitados desde la Basílica hasta el lugar de celebración.
    </div>
  </div>
</div>

<!-- Bloque de celebración con punto -->
<div class="container">
  <div class="dot"></div> <!-- Punto para la celebración -->

  <div class="left-block">
    <div class="info title">Celebración</div>
    <div class="info"><strong>El Jaral de la Mira</strong></div>
    <div class="info">La celebración tendrá lugar en esta preciosa finca.</div>
    <div class="icon-finca">
      <img src="assets/Finca.png" alt="Finca">
    </div>
  </div>

  <div class="right-block block-after-ceremony">
    <div class="info title">Después de la celebración</div>
    <div class="info"><strong>Autobuses de vuelta</strong></div>
    <div class="box">
      Habrá autobuses disponibles para el regreso a Madrid después de la celebración.
    </div>
  </div>
</div>

<!-- Fin del evento -->
<div class="final-block">
  <div><strong>¡Fin del Evento!</strong></div>
  <div class="info">Muchas gracias por venir 🙂</div>
</div>
