<div class="d-flex justify-content-center mb-4 navbar-top-mobile">
  <app-nav-bar></app-nav-bar>
</div>

<!-- Bloque de ceremonia con punto -->
<div class="container">
  <div class="dot"></div> <!-- Punto para la ceremonia -->

  <div class="left-block">
    <div class="info time">13:00</div>
    <div class="info title">Ceremonia</div>
    <div class="info">Basílica Pontificia de San Miguel</div>
    <div class="info">C. de San Justo, 4, Centro, 28005, Madrid
</div>
    <div class="icon-iglesia">
      <img src="assets/Iglesia.png" alt="Basílica">
    </div>
  </div>

  <div class="right-block block-after-ceremony">
    <div class="info title">Después de la ceremonia</div>
    <div class="info">Habrá servicio de autobuses de la Basílica a la finca</div>
  </div>
</div>


<div class="container">
  <div class="dot"></div> 

  <div class="left-block">
    <div class="info time">15:00</div>
    <div class="info title">Celebración</div>
    <div class="info"><strong>El Jaral de la Mira</strong></div>
    <div class="info">M-600, 28209 Guadarrama, Madrid
</div>
    <div class="icon-finca">
      <img src="assets/FINCA 02.png" alt="Finca">
    </div>
  </div>

  <div class="right-block block-after-ceremony">
    <div class="info title">Después de la celebración</div>
    <div class="info">Habrá servicio de autobuses de vuelta a casa (o lo que surja)</div>
  </div>
</div>

