.navbar {
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
  
    a {
      text-decoration: none;
      color: black;
      position: relative;
      font-weight: 500;
  
  
      &.active::after {
        content: '';
        display: block;
        height: 2px;
        background-color: black;
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
      }
    }

    @media (max-width: 768px) {
  .navbar {
    padding: 0 1.5rem; /* un poco menos de margen en móvil */
  }

  .navbar ul {
    flex-wrap: wrap; /* que puedan bajar de línea si no caben */
    justify-content: center; /* sigue centrado */
    gap: 1rem;
  }

  }
}
  