.inicio-banner {
  width: 100%;
 max-height: 80vh;
  object-fit: contain; /* recorta para ocupar toda el área sin deformarse */
  display: block;
  margin-bottom: 2rem;

}

.wedding-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;

}


/* Contenido principal */
.main-content {
  position: relative;
  z-index: 1;
  max-width: 90%;
}

/* Imagen inferior centrada */
.bottom-space {
  margin-top: 6rem; /* empuja la imagen hacia abajo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* da altura al bloque inferior */
}

.numbers-bottom-center {
  width: 700px;

}

/* Textos */
.date-text {
  font-style: italic;
  color: #6c757d;
  margin-bottom: 2rem;
}


.invitation-text {
  margin-top: 3rem;
}

.invitation-text h2 {
  font-weight: 600;
}

.invitation-text p {
 
  color: #333;
}

@media (max-width: 768px) {
  .inicio-banner {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .wedding-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* aseguramos centrado */
  }

  /* Quitar el order para que navbar se mantenga debajo de la imagen */
  .navbar-top-mobile {
    order: 0; /* valor por defecto, mantiene posición debajo de imagen */
    margin-bottom: 2rem; /* un poco de espacio abajo */
  }

  /* Reducir tamaño de los títulos */
  .invitation-text h1 {
    font-size: 1.4rem; /* más pequeño */
    font-weight: 600;
  }

  .invitation-text p {
    font-size: 0.9rem;
    color: #333;
  }

  /* Ajustar la imagen de números para pantallas pequeñas */
  .numbers-bottom-center {
    width: 90%;
    max-width: 300px;
  }
}




