<div class="wedding-container">
  <!-- Imagen -->
  <img src="assets/INCIO 02.png" alt="Imagen de inicio" class="inicio-banner" />

  <!-- Navbar -->
  <div class="d-flex justify-content-center mb-4 navbar-top-mobile">
    <app-nav-bar></app-nav-bar>
  </div>

  <!-- Contenido principal -->
  <div class="main-content mt-5">
    <section class="invitation-text">
      <h1>NOS CASAMOS</h1>
      <p>y nos encantaría compartir este día tan especial con vosotros</p>
    </section>
  </div>

  <!-- Números -->
  <div class="bottom-space">
    <img src="assets/numeros.png" alt="Fecha 22 11" class="numbers-bottom-center" />
  </div>
</div>
