<div class="d-flex justify-content-center mb-4 navbar-top-mobile">
  <app-nav-bar></app-nav-bar>
</div>

<div class="wedding-list-container">
  <div class="content">
    <h1 class="main-title">LISTA DE BODAS</h1>

    <p class="subtitle">
      Para nosotros, lo más importante es que nos acompañéis en este día tan
      especial. Vuestra presencia es el mejor regalo que podemos recibir.
    </p>

    <div class="main-content">
      <div class="text-section">
        <p class="account-text">
          Pero si aún así queréis contribuir a nuestra luna de miel en Japón, y
          dado que no habéis parado de preguntarnos y al estremecedor interés
          mostrado, os facilitamos el medio para hacerlo:
        </p>

        <div class="account-number">ES27 0182 5322 2000 0210 1745</div>
      </div>
      <div class="illustration">
        <img
          class="japon-img"
          src="assets/japon.png"
          alt="Japanese pagoda illustration"
        />
      </div>
    </div>

    <div class="signature-section">
      <div class="signature">
        <img
          class="names-img"
          src="assets/nombres-boda.png"
          alt="María y Guille signature"
        />
      </div>

      <p class="thanks">¡Gracias por compartir este día con nosotros!</p>
    </div>
  </div>
</div>
