body {
    background-color: #f2f1ee;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
       font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  @media (max-width: 768px) {
  body {
    font-size: 12px; /* reducir tamaño base en móvil */
  }

  .navbar-top-mobile,
  .navbar-top-mobile * {
    font-size: 0.7rem !important; /* tamaño más pequeño y forzado */
    line-height: 1.2 !important;
  }

  a {
    font-size: 0.5rem; /* para enlaces también */
  }
}

  